.bg {
  background-image: url(/images/landing.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  position: fixed; top: 0; bottom: 0; left: 0; right: 0;
  overflow-y: auto;
  z-index: -99;
}


.wrapper{
  position: absolute;
  width:100%;
  text-align: center;
}

.header-landing{
  background: rgba(0,0,0,.25);
  max-width: none!important;
  padding-top:15px;
  z-index: 99;
  color: white;
  height: 50px;
}
.middle-text-landing{
  margin-top:16%;
  color:white;
  text-shadow: 2px 2px black;
  font-size: 24pt;
}

.spacing-bottom{
  margin-bottom: 20px;
}

.button-signup{
  font-family:'Roboto', sans-serif;
  background: white;
  color: black;
  padding-left:18px;
  padding-right:18px;
  padding-top:13px;
  padding-bottom:13px;
  font-size: 16pt;
  border-radius: 0px;
}
.button-signup-small, .button-signup-small:visited , .button-signup-small a:visited{
    top:40px;
    font-family:'Roboto', sans-serif;
    background: white;
    color: black;
    padding-left:14px;
    padding-right:14px;
    padding-top:9px;
    padding-bottom:9px;
    font-size: 11pt;
    border-radius: 0px;
    text-decoration: none;
}


a:hover, a:active{
  text-decoration: none;
  color:#303030;
}

a:visited, a:link{
  text-decoration: none;
}
 
 .link-login, .link-login:visited{
    top:40px;
    font-family:'Roboto', sans-serif;
    color: white;
    padding-left:14px;
    padding-right:14px;
    padding-top:9px;
    padding-bottom:9px;
    font-size: 11pt;
    border-radius: 0px;
    text-decoration: none;
 }

 .link-login:active, .link-login:hover{
   color:lightgray;
   text-decoration: none;
 }


 .button-purple, .button-purple:visited{
    font-family:'Roboto', sans-serif;
    background: #715B64;
    color: white;
    padding-left:14px;
    padding-right:14px;
    padding-top:9px;
    padding-bottom:9px;
    display: inline-block;
    text-decoration: none;
    font-size: 13pt;
    border: none;
 }

 .button-purple:hover, .button-login:active{
   color: white;
   text-decoration: none;
   background: #5D4B52;
 }

.links{
  float: right;
}
.logo, .logo a, .logo a:hover, .logo a:active{
  font-family: 'Pacifico', cursive;
  font-size: 15pt;
  color:white;
  text-decoration: none;
  display: inline-block;
}

.login-container{
  margin-top:10%;
  font-family:'Roboto', sans-serif;
  font-size: 13pt;
  padding: 30px;
  text-align: left;
  background-color: white;
}

.signup-container{
  margin-top:2%;
  margin-bottom:2%;
  font-family:'Roboto', sans-serif;
  font-size: 13pt;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 8px;
  padding-top: 28px;
  text-align: left;
  background-color: white;
}

.input{
  border-radius: 0px;
  margin-top:6px;
}

.spacing{
  margin:8px;
}

.spacing-big{
  margin:20px;
  margin-bottom: 40px;
}

.small-text{
  font-size: 11pt;
}

.link a{
  color: #715B64;
}

.form-control:focus {
  border-color: #715B64;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(113, 91, 100, 0.6);
}

.icon-bg{
  padding:5px;
  background-color: #F1F0F0;
}
.Select-control {
  border-radius: 0px!important;
}

.is-focused:not(.is-open) > .Select-control {
    border-color:#b3b3b3 !important;
}

.Select-item{
  color:dimgray!important;
  background-color: #fff!important;
  border-color:#d6d6d6 !important;
  font-size: 0.9em !important;
}

.Select-item-icon:hover,
.Select-item-icon:focus {
  background-color: #fff!important;
  color: #D0021B!important;
}